@import "./variables.scss";
@import "~bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap");

/****  NavBar  *****/
.navbar {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-top: 3em;
  img {
    max-height: 2rem;
  }
  a {
    font-size: 0.8rem;
    padding: 0;
    padding: 1rem;
  }
  .button.is-medium {
    width: 144px;
    height: 48px;
    font-size: 0.8rem;
    border-radius: 3px;
  }
  .button.is-inverted {
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.11);
    margin-left: 2rem;
  }
}

.header-social-links {
  position: absolute;
  z-index: 9999;
  right: 3.5rem;
  top: 0.3rem;
  display: flex;
  align-items: center;
  p {
    display: inline-block;
    font-size: 0.7rem;
  }
  a {
    display: inline-block;
    &:hover {
      background: transparent;
    }
  }
}

.mobile-menu {
  background: #0a1829;
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  overflow: hidden;
  padding-top: 1rem;
  button {
    float: right;
    padding: 0.5rem;
    background: transparent;
    border: none;
    outline: none;
  }
  ul {
    padding-top: 6rem;
    padding-left: 2rem;
    width: 80%;
    li {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0rem;
      }
      a {
        color: #fff;
        font-family: "Rubik", sans-serif;
        font-weight: 300;
        font-size: 22px;
        display: block;
      }
      a.btn-start {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 13px;
        background: #fff;
        text-transform: uppercase;
        border-radius: 3px;
        width: 100%;
        text-align: center;
      }
      a.btn-login {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 13px;
        width: 100%;
        border: 1px solid #fff;
        border-radius: 3px;
        text-transform: uppercase;
        color: #fff;
        background: transparent;
        margin-top: 2.5rem;
        text-align: center;
      }
    }
  }
}

/***** END NavBar ****/

// /* ----------- General ----------- */
.home-header {
  background: transparent url(../images/headerbg.jpg) no-repeat center center;
  background-size: cover;
  height: auto;
  .hero-body {
    .intro {
      margin-left: 12%;
      margin-top: 7%;
      h1.title {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 62px;
        line-height: 65px;
        color: #ffffff;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
      }
      p.subtitle {
        font-family: "Rubik", sans-serif;
        font-weight: 300;
        margin-top: -0.3rem;
      }
    }
    .phone-holder {
      position: relative;
      .image {
        top: 1rem;
      }
      img {
        position: relative;
        // width: 99%;
      }
    }
  }
}
.download-app {
  display: flex !important;
  width: 50%;
  a {
    padding: 0;
    padding-right: 0.2rem;
    display: block;
    &:first-child {
      padding-right: 0.2rem;
    }
    &:hover,
    &:focus,
    &:active {
      background: transparent !important;
    }
    img {
      width: 100%;
    }
  }
}
.home-midsection {
  .first-section {
    margin-top: -17.2rem;
    .hanger-logo {
      img {
        width: 6%;
        margin-bottom: 10%;
      }
      h2 {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
      }
      p {
        font-family: "Rubik", sans-serif;
        font-weight: 300;
      }
    }
    .icon-nav {
      margin-top: 4rem;
      button {
        background: transparent;
        border: none;
        outline: none;
        position: relative;
        max-width: 90px;
        max-height: 90px;
        .box {
          background: rgba(18, 35, 57, 0.35);
          width: 100%;
          height: 100%;
          border-radius: 3px;
          border: 1px solid #162b46;
          margin-bottom: 0.5rem;
          img {
            display: inline-block;
          }
          svg {
            width: 30px;
            height: 30px;
            path {
              fill: #162b46;
            }
          }
        }
        span {
          display: block;
          text-transform: uppercase;
          color: #122339;
          font-family: "Rubik", sans-serif;
          font-weight: 500;
          font-size: 0.5rem;
        }
        &:hover {
          top: -0.3rem;
          .box {
            // background: #ff9b3f;
            background: linear-gradient(
              to bottom,
              rgba(255, 156, 63, 1) 0%,
              rgba(241, 75, 53, 1) 100%
            );
            box-shadow: 0px 5px 9px rgba(241, 75, 53, 0.19);
          }
          span {
            color: #fff;
          }
          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
      .line {
        display: block;
        width: 30%;
        height: 1px;
        background: #162b46;
        margin: 4rem auto;
      }
    }
    .how-it-works {
      margin-top: 5rem;
      padding-bottom: 3rem;
      h3.title {
        margin-bottom: 5rem;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 47px;
        line-height: 79px;
      }
      img {
        width: 80%;
      }
    }
    img {
      border-radius: 7px;
    }
    a {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      margin-top: 1.5rem;
      display: block;
    }
  }
}

// /* ----------- Home Page ----------- */
.homepage {
  background: #0a1829 url(../images/body-bg.png) no-repeat;
  background-size: contain;
  .home-header {
    background: transparent url(../images/headerbg.jpg) no-repeat center center;
    background-size: cover;
    height: auto;
    .hero-body {
      .intro {
        margin-left: 12%;
        margin-top: 7%;
        h1.title {
          font-family: "Rubik", sans-serif;
          font-weight: 500;
          font-size: 62px;
          line-height: 65px;
          color: #ffffff;
          text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        }
        p.subtitle {
          font-family: "Rubik", sans-serif;
          font-weight: 300;
          margin-top: -0.3rem;
        }
      }
      .phone-holder {
        position: relative;
        .image {
          top: 1rem;
        }
        img {
          position: relative;
          // width: 99%;
        }
      }
    }
  }
  .download-app {
    display: flex !important;
    width: 50%;
    a {
      padding: 0;
      padding-right: 0.2rem;
      display: block;
      &:first-child {
        padding-right: 0.2rem;
      }
      &:hover,
      &:focus,
      &:active {
        background: transparent !important;
      }
      img {
        width: 100%;
      }
    }
  }

  .home-midsection {
    .first-section {
      margin-top: -17.2rem;
      // background: #0a1829;
      .hanger-logo {
        img {
          width: 6%;
          margin-bottom: 10%;
        }
        h2 {
          font-family: "Rubik", sans-serif;
          font-weight: 500;
        }
        p {
          font-family: "Rubik", sans-serif;
          font-weight: 300;
        }
      }
      .icon-nav {
        margin-top: 4rem;
        button {
          background: transparent;
          border: none;
          outline: none;
          position: relative;
          max-width: 90px;
          max-height: 90px;
          .box {
            background: rgba(18, 35, 57, 0.35);
            width: 100%;
            height: 100%;
            border-radius: 3px;
            border: 1px solid #162b46;
            margin-bottom: 0.5rem;
            img {
              display: inline-block;
            }
            svg {
              width: 30px;
              height: 30px;
              path {
                fill: #162b46;
              }
            }
          }
          span {
            display: block;
            text-transform: uppercase;
            color: #122339;
            font-family: "Rubik", sans-serif;
            font-weight: 500;
            font-size: 0.5rem;
          }
          &:hover {
            top: -0.3rem;
            .box {
              // background: #ff9b3f;
              background: linear-gradient(
                to bottom,
                rgba(255, 156, 63, 1) 0%,
                rgba(241, 75, 53, 1) 100%
              );
              box-shadow: 0px 5px 9px rgba(241, 75, 53, 0.19);
            }
            span {
              color: #fff;
            }
            svg {
              path {
                fill: #fff;
              }
            }
          }
        }
        .line {
          display: block;
          width: 30%;
          height: 1px;
          background: #162b46;
          margin: 4rem auto;
        }
      }
      .how-it-works {
        margin-top: 5rem;
        padding-bottom: 3rem;
        h3.title {
          margin-bottom: 5rem;
          font-family: "Rubik", sans-serif;
          font-weight: 500;
          font-size: 47px;
          line-height: 79px;
        }
        .swipe-btn-right {
          position: absolute;
          right: 0.5rem;
          bottom: 28rem;
          z-index: 50;
        }
        .swipe-btn-left {
          position: absolute;
          left: 0.5rem;
          bottom: 28rem;
          z-index: 50;
        }
        img {
          width: 80%;
        }
        .summary {
          padding-left: 2rem;
          h3 {
            font-family: "Rubik", sans-serif;
            font-weight: 700;
            font-size: 104px;
            margin: 0;
            letter-spacing: -0.03em;
          }
          h4 {
            font-family: "Rubik", sans-serif;
            font-weight: 500;
            font-size: 24px;
            margin: 0;
            margin: 0.4rem 0rem;
            // text-transform: capitalize;
          }
          p {
            font-family: "Rubik", sans-serif;
            font-weight: 300;
            font-size: 16px;
            line-height: 28px;
          }
        }
      }
      img {
        border-radius: 7px;
      }
      a {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        margin-top: 1.5rem;
        display: block;
      }
    }
  }
  .why-join {
    background: #f9fffb;
    h2.title {
      font-family: "Rubik", sans-serif;
      font-size: 37px;
      padding-top: 5rem;
      padding-bottom: 1rem;
    }
    .stats {
      box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.09);
      border: 1px solid rgba(22, 43, 70, 0.05);
      padding: 1rem;
      border-radius: 16px;
      position: absolute;
      top: -14rem;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 65%;
      p {
        font-family: "Rubik", sans-serif;
        font-size: 50px;
        font-weight: 700;
        span {
          display: block;
          font-weight: 500;
          color: #4f4f4f;
          font-size: 16px;
        }
      }
    }
    .feat {
      img {
        width: 79px;
        height: 84px;
        overflow: hidden;
      }
      h3 {
        color: #4f4f4f;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 20px;
      }
      p {
        color: #4f4f4f;
        font-family: "Rubik", sans-serif;
        font-weight: 300;
        font-size: 14px;
      }
    }
  }
}

// /* ----------- Partners ----------- */
.partners {
  background: #0a1829 url(../images/body-bg.png) no-repeat;
  background-size: contain;
  .home-header {
    background: transparent url(../images/headerbg.jpg) no-repeat center center;
    background-size: cover;
    height: auto;
    .hero-body {
      .intro {
        margin-left: 12%;
        margin-top: 7%;
        h1.title {
          font-family: "Rubik", sans-serif;
          font-weight: 500;
          font-size: 55px;
          line-height: 60px;
          color: #ffffff;
          text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
        }
        p.subtitle {
          font-family: "Rubik", sans-serif;
          font-weight: 300;
          margin-top: -0.3rem;
        }
      }
      .phone-holder {
        position: relative;
        .image {
          top: 1rem;
        }
        img {
          position: relative;
          // width: 99%;
        }
      }
    }
  }
  .partner-section {
    .first-section {
      margin-top: -14.2rem;
    }
    .hanger-logo {
      margin-bottom: 3rem;
    }
    .icon-nav {
      margin-bottom: 2rem;
      margin-top: 2rem !important;
    }
    h5 {
      color: #fff;
      font-family: "Rubik", sans-serif;
      font-size: 17px;
      font-weight: 500;
      svg {
        margin-bottom: 0.5rem;
      }
    }
    p {
      color: #fff;
      font-family: "Rubik", sans-serif;
      font-size: 15px;
      font-weight: 300;
      margin-top: 0.8rem;
    }
  }
  .become-partner {
    background: #ffffff;
    box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 1.5rem;
    position: relative;
    z-index: 10;
    p.title {
      margin-bottom: 0.8rem;
    }
    .input {
      background: #f3f4f6;
      font-size: 0.9rem;
      color: rgba(0, 0, 0, 0.4);
      padding-left: 1rem;
      padding: 1.45rem;
    }
    .field {
      span {
        font-size: 0.7rem;
        color: tomato;
        font-style: italic;
        margin-left: 0.4rem;
      }
    }
    ::placeholder {
      color: #000;
      opacity: 0.4;
    }
    p {
      color: #333333;
      font-size: 0.8rem;
      // padding: 0.5rem;
    }
    .button.is-link {
      box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.11);
      border: none;
      width: 144px;
      height: 48px;
    }
    .control {
      display: flex;
      align-items: center;
      span {
        color: #333333;
        font-size: 0.8rem;
      }
      a {
        font-size: 0.8rem;
      }
      a:hover {
        border-color: transparent;
      }
    }
  }
}

// /* ----------- About ----------- */
.about {
  background: #0a1829;
  .home-header {
    background: #0a1829 url(../images/aboutheaderbg1.jpg) no-repeat top left;
    background-size: cover;
    height: 47rem;
    .hero-body {
      .intro {
        margin-top: -20%;
      }
    }
  }
  .about-midsection {
    background: transparent; //#0a1829;
    // background: #0a1829;
    padding-top: 0rem;
    position: relative;
    z-index: 9999;
    top: -4rem;
    .about-box {
      padding-bottom: 2rem;
    }
    img {
      width: 80%;
    }
    .info {
      width: 70%;
      padding-top: 5rem;
      color: #fff;
      h3 {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 37px;
        margin-bottom: 0.5rem;
      }
      p {
        font-family: "Rubik", sans-serif;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 1rem;
      }
    }
  }
  .why-join {
    background: #f9fffb;
    padding-bottom: 1rem;
    margin-top: -4rem;
    h2.title {
      padding-bottom: 2rem;
      padding-top: 0rem !important;
    }
  }
}

// /* ----------- Contact ----------- */
.contact {
  .contact-section {
    background: #0a1829;
    padding-bottom: 0rem;
    .contact-info {
      padding-bottom: 3rem;
      h3 {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
      }
      p {
        font-weight: 300;
        font-size: 16px;
        font-family: "Rubik", sans-serif;
        color: #fff;
        margin-top: 0.7rem;
        margin-bottom: 2rem;
      }
      button {
        background: transparent;
        outline: none;
        border: none;
        svg {
          vertical-align: middle;
        }
      }
    }
  }
  .hero-body {
    margin-top: 4rem;
  }
  .phone-holder {
    width: 659px;
    height: 554px;
    padding: 0rem;
  }
}

// /* ----------- FAQs ----------- */
.questions {
  background: #f9fffb;
  padding: 2rem 0rem;
  h3.title {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 30px;
  }
  .faqs {
    .faq {
      button.title {
        display: flex;
        flex: 1;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        outline: none;
        border: none;
        border-top: 1px solid rgba(182, 186, 191, 0.43);
        margin-bottom: 0rem;
        background: transparent;
        h4 {
          font-family: "Rubik", sans-serif;
          font-weight: 400;
          font-size: 16px;
          color: #000;
        }
        svg {
          width: 1%;
        }
      }
      &:last-child {
        button {
          border-bottom: 1px solid rgba(182, 186, 191, 0.43);
        }
      }
      .text {
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #000;
        opacity: 0.7;
        padding: 1rem;
        display: none;
      }
      .selected {
        display: block;
      }
    }
  }
}

// /* ----------- Modal ----------- */
.ReactModal__Overlay {
  background-color: rgba(44, 44, 44, 0.91) !important;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  z-index: 100 !important;
}
.ReactModal__Content {
  width: 80%;
  height: 80%;
  background: #ffffff;
  margin: 0 auto;
  padding: 0px !important;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}
.modal-wrapper {
  .modal_header {
    position: sticky;
    width: inherit;
    top: 0;
    background: #fff;
    height: 13vh;
    padding-top: 1.2rem;
    z-index: 100;
    .btn {
      border: none;
      outline: none;
      background: transparent;
      padding: 0.5rem;
      cursor: pointer;
      position: absolute;
      right: 2rem;
      top: 1rem;
    }
    h4 {
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 3rem;
      span {
        font-weight: 300;
        font-size: 13px;
        color: #4f4f4f;
        margin-top: 0.3rem;
      }
    }
  }
  .modal-text {
    height: 100%;
    max-height: 100%;
    border-radius: 8px;
    padding: 2rem 3rem;
    h5 {
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      font-size: 15px;
      margin: 0.3rem 0rem 0.8rem;
      color: #000;
    }
    p {
      font-family: "Rubik", sans-serif;
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 0.8rem;
      span {
        font-weight: 400;
        padding-right: 0.3rem;
      }
    }
  }
  .modal-nav {
    background: #f9f9f9;
    padding: 0.7rem;
    margin-left: 0.4rem;
    h6 {
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      font-size: 16px;
    }
  }
}

// Footer
.footer {
  margin: 0;
  padding: 0;
  .download-app {
    position: relative;
    left: 25%;
  }
  .get-started {
    text-align: center;
    background: #f9fffb;
    padding: 2rem 0rem;
    h2 {
      font-family: "Rubik", sans-serif;
      font-weight: bold;
      font-size: 79px;
      line-height: 79px;
      opacity: 0.1;
      background: linear-gradient(#000, #eee);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .has-background-primary {
    padding-top: 3rem;
    .is-three-fifths {
      border: 1px solid rgba(22, 43, 70, 0.05);
      box-sizing: border-box;
      box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.09);
      border-radius: 3px;
      padding: 1.5rem;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      top: -6.8rem;
      .column {
        display: flex;
        align-items: center;
      }
      img {
        width: 79px;
        height: 84px;
      }
      .info {
        text-align: left;
        padding-left: 0.4rem;
        h4 {
          font-family: "Rubik", sans-serif;
          font-weight: 500;
          font-size: 14px;
        }
        p {
          color: #4f4f4f;
          font-family: "Rubik", sans-serif;
          font-weight: 300;
          font-size: 11px;
          margin: 0.3rem 0rem 0.7rem;
        }
        button {
          border: none;
          border-radius: 3px;
          padding: 0.5rem 0.8rem;
          outline: none;
          font-family: "Rubik", sans-serif;
          font-weight: 500;
          font-size: 11px;
          text-transform: uppercase;
          box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.11);
          cursor: pointer;
        }
      }
    }

    .is-half {
      margin-bottom: 1.2rem;
      p.title {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 19px;
        margin-top: 3rem;
        span {
          margin-top: 1rem;
          a {
            margin-right: 0.1rem;
            // border: none;
            // border-bottom: 1px solid;
            // color: black;
          }
          // a:hover {
          //   color: $secondary-color;
          // }
        }
      }
    }
  }
  .has-background-black {
    padding: 2rem 0rem;
    img {
      height: 1.92rem;
    }
    a {
      display: inline-block;
      color: #fff;
      border-bottom: none !important;
      text-transform: uppercase;
      font-size: 0.63rem;
      &:hover {
        background: transparent;
      }
    }
    .social {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      span {
        font-size: 0.68rem;
        color: #fff;
      }
      a {
      }
    }
  }
}

.carousel {
  // margin-top: 6rem;
  margin-top: 2rem;
}
.slideHorizontal___1NzNV {
  margin-right: -2rem;
}
.boxx {
  display: inline-block;
  width: 80px;
  margin: 0.6rem;
  .holder.fuel {
    background: linear-gradient(
      to bottom,
      rgba(71, 139, 246, 1) 0%,
      rgba(49, 118, 227, 1) 100%
    );
  }
  .holder.oil {
    background: linear-gradient(
      to bottom,
      rgba(255, 156, 63, 1) 0%,
      rgba(241, 75, 53, 1) 100%
    );
  }
  .holder.wash {
    background: linear-gradient(
      to bottom,
      rgba(247, 191, 5, 1) 0%,
      rgba(228, 150, 0, 1) 100%
    );
  }
  .holder.wheel {
    background: linear-gradient(to bottom, #34ac52 0%, #148c32 100%);
  }
  .holder.repair {
    background: linear-gradient(to bottom, #f77d1d 0%, #dc3905 100%);
  }
  .holder.diagnosis {
    background: linear-gradient(to bottom, #f739a1 0%, #e5245e 100%);
  }
  .holder.tow {
    background: linear-gradient(to bottom, #a643eb 0%, #7d20be 100%);
  }
  .holder.paint {
    background: linear-gradient(to bottom, #20c6e0 0%, #1a89da 100%);
  }
  .holder {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    font-family: "Rubik", sans-serif;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0.3rem;
  }
}

// /* ----------- iPad Pro 12.9" ----------- */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) {
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .navbar-brand .navbar-item,
  .navbar-tabs .navbar-item {
    margin: 0 auto;
    img {
      max-height: 5rem;
    }
  }
  .navbar-burger {
    position: absolute;
    right: 3rem;
    color: #fff;
    top: 2.3rem;
    span {
      width: 50px;
      height: 2px;
      &:nth-child(1) {
        top: calc(50% - 15px);
      }
      &:nth-child(2) {
        top: calc(50% - 5px);
      }
    }
  }
  .homepage,
  .partners {
    .home-header {
      .hero-body {
        .intro {
          margin-left: 0%;
          h1.title {
            font-size: 62px;
            line-height: 65px;
            text-align: center;
          }
          p.subtitle {
            font-size: 2rem;
            text-align: center;
            width: 85%;
            margin: 0 auto 2rem;
          }
        }
        .phone-holder {
          z-index: 100;
          top: 6rem;
          height: 121.5vh;
        }
      }
    }
    .download-app {
      width: 70%;
      margin: 0 auto;
    }
    .home-midsection {
      .first-section {
        margin-top: 17rem;
        .hanger-logo {
          img {
            width: 15%;
            position: absolute;
            top: -48rem;
            z-index: 10;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
          }
          h2 {
            padding: 2rem;
            font-size: 2.5rem;
          }
          p {
            width: 72%;
            margin: 0 auto;
          }
        }
        .how-it-works {
          .swipe-btn-right,
          .swipe-btn-left {
            right: 2rem;
            bottom: 36rem;
            svg {
              width: 2.5rem;
              height: 2.5rem;
            }
          }
          .summary {
            h4 {
              font-size: 35px;
              margin: 1.4rem 0rem;
            }
            p {
              font-size: 25px;
              line-height: 32px;
              width: 80%;
              margin-top: 1rem;
            }
          }
        }
      }
    }
    .why-join {
      h2.title {
        padding-top: 22rem;
      }
      .feat {
        text-align: center;
        padding: 0rem 5rem 2rem;
      }
      .stats {
        top: -7rem;
      }
    }
  }
  .footer {
    .get-started {
      h2 {
        font-size: 50px;
      }
    }
    .has-background-primary {
      padding: 12rem 0.5rem 0rem;
      .is-three-fifths {
        top: -16rem;
      }
      .is-half {
        margin-bottom: 0rem;
        p.title {
          width: 55%;
          margin: 1rem auto;
          span {
            margin-top: 1.5rem;
          }
        }
      }
    }
    .download-app {
      left: 0%;
    }
    .has-background-black {
      .column {
        text-align: center;
      }
      .social {
        justify-content: center;
      }
    }
  }
  .boxx {
    width: 150px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .holder {
      width: 150px;
      height: 150px;
    }
    p {
      font-size: 20px;
      margin-top: 0.8rem;
    }
  }
  .partners {
    .home-midsection {
      .first-section {
        margin-top: 0rem;
        .hanger-logo {
          p {
            font-size: 17px;
            padding: 0rem 2rem;
            line-height: 1.5rem;
          }
          h2 {
            padding: 2rem;
            margin-top: 9rem;
          }
          img {
            width: 13%;
            top: -35rem;
          }
        }
        .icon-nav {
          .column {
            text-align: center;
            p {
              width: 80%;
              margin: 0.5rem auto 1rem;
            }
          }
        }
        .how-it-works {
          h3.title {
            font-size: 25px;
            line-height: 0px;
          }
        }
      }
    }
    .become-partner {
      p.title {
        margin-bottom: 1.3rem;
        text-align: center;
        font-size: 1.2rem;
      }
      .control {
        justify-content: center;
      }
    }
  }
  .contact {
    .hero.is-fullheight-with-navbar {
      .hero-body {
        display: block;
        margin-top: 0rem;
        .intro {
          margin-top: 0%;
          margin-left: 0%;
          h1.title {
            text-align: center;
          }
          p.subtitle {
            text-align: center;
            font-size: 1.5rem;
          }
        }
        .phone-holder {
          width: 100%;
          height: 80vh;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .contact-section {
      .contact-info {
        text-align: center;
        h3,
        p {
          font-size: 20px;
        }
      }
    }
  }
  // .partners {
  //   .become-partner {
  //     p.title {
  //       margin-bottom: 1.3rem;
  //       text-align: center;
  //       font-size: 1.2rem;
  //     }
  //     .control {
  //     }
  //   }
  // }
}

/* ----------- iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
  .homepage,
  .partners {
    .home-header {
      .hero-body {
        .phone-holder {
          height: 78.5vh;
          z-index: 100;
        }
      }
    }
    .home-midsection {
      .first-section {
        margin-top: 0rem;
        .hanger-logo {
          h2 {
            padding: 2rem;
            margin-top: 2rem;
          }
        }
      }
    }
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .navbar-brand {
    background: #26bb91;
    position: fixed;
    width: 100%;
    top: 0;
  }
  .navbar-brand .navbar-item,
  .navbar-tabs .navbar-item {
    margin: 0 auto;
  }
  .navbar-burger {
    position: absolute;
    right: 1rem;
    color: #fff;
    top: 6px;
    span {
      width: 25px;
      height: 2px;
      &:nth-child(1) {
        top: calc(50% - 10px);
      }
      &:nth-child(2) {
        top: calc(50% - 3px);
      }
    }
  }
  .homepage,
  .partners,
  .contact,
  .about {
    .home-header {
      .hero-body {
        .intro {
          margin-left: 0%;
          h1.title {
            font-size: 33px;
            line-height: 40px;
            text-align: center;
          }
          p.subtitle {
            text-align: center;
            width: 85%;
            margin: 0 auto 2rem;
          }
        }
        .phone-holder {
          // height: 82.5vh;
          height: 95.5vh;
          z-index: 10;
          .image {
            top: 3rem;
          }
        }
      }
    }
    .download-app {
      width: 100%;
    }
    .home-midsection {
      .first-section {
        margin-top: 0rem;
        .hanger-logo {
          h2 {
            padding: 2rem;
            margin-top: 2rem;
          }
          p {
            padding: 0rem 3rem;
            line-height: 2.5rem;
          }
          img {
            width: 15%;
            position: absolute;
            top: -23rem;
            z-index: 5;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
    .why-join {
      h2.title {
        padding-top: 22rem;
      }
      .feat {
        text-align: center;
        padding: 0rem 5rem 2rem;
      }
      .stats {
        top: -7rem;
      }
    }
  }
  .partners {
    .home-header {
      .hero-body {
        .intro {
          p.subtitle {
            width: 100%;
            margin: 0 auto 2rem;
            font-size: 1.1rem;
          }
        }
      }
    }
    .home-midsection {
      .first-section {
        margin-top: 5.2rem;
        .hanger-logo {
          p {
            font-size: 17px;
            padding: 0rem 2rem;
            line-height: 1.5rem;
          }
          h2 {
            padding: 2rem;
            margin-top: 9rem;
          }
          img {
            width: 13%;
            top: -10rem;
          }
        }
        .icon-nav {
          .column {
            text-align: center;
            p {
              width: 80%;
              margin: 0.5rem auto 1rem;
            }
          }
        }
        .how-it-works {
          h3.title {
            font-size: 25px;
            line-height: 0px;
          }
        }
      }
    }
    .become-partner {
      p.title {
        margin-bottom: 1.3rem;
        text-align: center;
        font-size: 1.2rem;
      }
      .control {
        justify-content: center;
      }
    }
  }
  .contact {
    .hero.is-fullheight-with-navbar {
      .hero-body {
        display: block;
        margin-top: 0rem;
        .intro {
          margin-top: 0%;
        }
        .phone-holder {
          width: 100%;
          height: 80vh;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .contact-section {
      .contact-info {
        text-align: center;
      }
    }
  }
  .about {
    .home-header {
      // height: 80rem;
      height: auto;
      .hero-body {
        .intro {
          margin-top: 0rem;
          // margin-top: -75%;
          h1.title {
            font-size: 25px;
            line-height: 30px;
          }
          p.subtitle {
            width: 100%;
            font-size: 1rem;
          }
        }
        .phone-holder {
          height: 83vh;
          z-index: 100;
        }
      }
    }
    .about-midsection {
      background: #0a1829;
      top: -12rem;
      text-align: center;
      padding-top: 5rem;
      img {
        width: 50%;
      }
      .info {
        padding-top: 0rem;
        margin: 0 auto;
      }
    }
    .why-join {
      img {
        margin-top: -1rem;
      }
      h2.title {
        width: 80%;
        margin: 1rem auto 2rem;
      }
      .feat {
        margin-bottom: 1rem;
      }
      h3 {
        color: #4f4f4f;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 1rem;
      }
    }
  }
  .questions {
    .faqs {
      .faq {
        button.title {
          h4 {
            font-family: "Rubik", sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #000;
            text-align: left;
            line-height: 1.5rem;
          }
          svg {
            width: 3%;
          }
        }
      }
    }
  }
  .footer {
    .get-started {
      h2 {
        font-size: 50px;
      }
    }
    .has-background-primary {
      padding: 12rem 0.5rem 0rem;
      .is-three-fifths {
        top: -16rem;
      }
      .is-half {
        margin-bottom: 0rem;
        p.title {
          width: 55%;
          margin: 1rem auto;
          span {
            margin-top: 1.5rem;
          }
        }
      }
    }
    .download-app {
      left: 0%;
    }
    .has-background-black {
      .column {
        text-align: center;
      }
      .social {
        justify-content: center;
      }
    }
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  .homepage,
  .partners {
    .home-header {
      .hero-body {
        .phone-holder {
          height: 92.9vh;
          z-index: 10;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 413px) {
  .navbar-brand {
    background: #26bb91;
    position: fixed;
    width: 100%;
    top: 0;
    img {
      width: 30%;
    }
  }
  .navbar-brand .navbar-item,
  .navbar-tabs .navbar-item {
    margin: 0 auto;
  }
  .navbar-burger {
    position: absolute;
    right: 1rem;
    color: #fff;
    top: 6px;
    span {
      width: 25px;
      height: 2px;
      &:nth-child(1) {
        top: calc(50% - 10px);
      }
      &:nth-child(2) {
        top: calc(50% - 3px);
      }
    }
  }
  .homepage,
  .partners,
  .contact,
  .about {
    .home-header {
      .hero-body {
        .intro {
          margin-left: 0%;
          h1.title {
            font-size: 33px;
            line-height: 40px;
            text-align: center;
          }
          p.subtitle {
            text-align: center;
            width: 85%;
            margin: 0 auto 2rem;
          }
        }
        .phone-holder {
          height: 86vh;
          z-index: 10;
          .image {
            top: 3rem;
          }
        }
      }
    }
    .download-app {
      width: 100%;
    }
    .home-midsection {
      .first-section {
        margin-top: 0rem;
        .hanger-logo {
          h2 {
            padding: 2rem;
            margin-top: 2rem;
          }
          p {
            padding: 0rem 3rem;
            line-height: 2.5rem;
          }
          img {
            width: 15%;
            position: absolute;
            top: -23rem;
            z-index: 5;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
    .why-join {
      h2.title {
        padding-top: 22rem;
      }
      .feat {
        text-align: center;
        padding: 0rem 5rem 2rem;
      }
      .stats {
        top: -7rem;
      }
    }
  }
  .partners {
    .home-header {
      .hero-body {
        .intro {
          p.subtitle {
            width: 100%;
            margin: 0 auto 2rem;
            font-size: 1.1rem;
          }
        }
      }
    }
    .home-midsection {
      .first-section {
        margin-top: 5.2rem;
        .hanger-logo {
          p {
            font-size: 17px;
            padding: 0rem 2rem;
            line-height: 1.5rem;
          }
          h2 {
            padding: 2rem;
            margin-top: 9rem;
          }
          img {
            width: 13%;
            top: -10rem;
          }
        }
        .icon-nav {
          .column {
            text-align: center;
            p {
              width: 80%;
              margin: 0.5rem auto 1rem;
            }
          }
        }
        .how-it-works {
          h3.title {
            font-size: 25px;
            line-height: 0px;
          }
        }
      }
    }
    .become-partner {
      p.title {
        margin-bottom: 1.3rem;
        text-align: center;
        font-size: 1.2rem;
      }
      .control {
        justify-content: center;
      }
    }
  }
  .contact {
    .hero.is-fullheight-with-navbar {
      .hero-body {
        display: block;
        margin-top: 0rem;
        .intro {
          margin-top: 0%;
        }
        .phone-holder {
          width: 100%;
          height: 80vh;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .contact-section {
      .contact-info {
        text-align: center;
      }
    }
  }
  .about {
    .home-header {
      // height: 80rem;
      height: auto;
      .hero-body {
        .intro {
          margin-top: 0rem;
          // margin-top: -75%;
          h1.title {
            font-size: 25px;
            line-height: 30px;
          }
          p.subtitle {
            width: 100%;
            font-size: 1rem;
          }
        }
        .phone-holder {
          height: 83vh;
          z-index: 100;
        }
      }
    }
    .about-midsection {
      background: #0a1829;
      top: -12rem;
      text-align: center;
      padding-top: 5rem;
      img {
        width: 50%;
      }
      .info {
        padding-top: 0rem;
        margin: 0 auto;
      }
    }
    .why-join {
      img {
        margin-top: -1rem;
      }
      h2.title {
        width: 80%;
        margin: 1rem auto 2rem;
      }
      .feat {
        margin-bottom: 1rem;
      }
      h3 {
        color: #4f4f4f;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 1rem;
      }
    }
  }
  .questions {
    .faqs {
      .faq {
        button.title {
          h4 {
            font-family: "Rubik", sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #000;
            text-align: left;
            line-height: 1.5rem;
          }
          svg {
            width: 3%;
          }
        }
      }
    }
  }
  .footer {
    .get-started {
      h2 {
        font-size: 50px;
      }
    }
    .has-background-primary {
      padding: 12rem 0.5rem 0rem;
      .is-three-fifths {
        top: -16rem;
      }
      .is-half {
        margin-bottom: 0rem;
        p.title {
          width: 55%;
          margin: 1rem auto;
          span {
            margin-top: 1.5rem;
          }
        }
      }
    }
    .download-app {
      left: 0%;
    }
    .has-background-black {
      .column {
        text-align: center;
      }
      .social {
        justify-content: center;
      }
    }
  }
}
